.container{
background: #e3f9ff;
display:flex;
align-items: center;
justify-content: center;
height:100vh;
}

.calculator{
background: #3a4452;
padding:20px;
border-radius: 10px;
}

.calculator form input{
border:0;
outline:0;
width:60px;
height:60px;
border-radius:10px;
box-shadow: 0 0 10px;
margin:2px;
font-size:20px;
}

form .display{
display:flex;
justify-content: flex-end;
margin:20px 0;
}

form .display input{
flex:1;
}